body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

hr {
  width: 10%;
  border: none;
  border-top: 15px dotted #eaf6f6;
  margin-bottom: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row p {
  line-height: 2;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.type-img {
  width: 35%;
  float: right;
  border-radius: 20px;
  /* width: 40%; */
  margin-left: 30px;
}

.profile {
  margin: 100px auto;
}

.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.p-profile {
  color: #40514e;
  line-height: 1.5;
  padding: 0px 80px;
}
.p-web {
  color: #40514e;
}
.p-type {
  color: #40514e;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.designation {
  font-size: 2.5rem;
  font-weight: normal;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

.bottom-container {
  padding: 30px 0 1px 0;
  text-align: center;
  background-color: #66bfbf;
  /* height: 150px; */
}
.footer-link {
  color: #11999e;
  margin: 0 15px;
}

.copyright {
  /* margin-bottom: 0; */
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  margin-bottom: 80px;
}

.touch-info {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/* Button Link CONTACT US */
.btn {
  background: #11999e;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  /* font-weight: 50; */
  padding: 20px;
  border: solid #66bfbf 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #11999e 1px;
  background: white;
  color: #11999e;
  border-radius: 20px;
  text-decoration: none;
}

/* My Projects */

.proj-ele {
  width: 50%;
  background-color: #66bfbf;
  margin: 10px auto;
  display: inline-block;
  padding: 30px;
  text-align: center;
  justify-content: center;
  /* background-color: black; */
  color: white;
  font-size: 19px;
}

proj-a:hover {
  color: blue;
}

a.proj-a :hover {
  color: #66bfbf;
  background-color: white;
  border: solid #11999e 1px;
}
